$primaryColor:  #181818; 
$secondaryColor: #303030;
$accentColor: #f92c85;
$whiteColor: #fff;
$font: white;

$defaultFont: "Syne", sans-serif;
$lightWeight: 400;
$normalWeight: 700;
$boldWeight: 800;
$leading: 150%;

$gutter: 10px;